
<div>
  <h5> <p>短網址 : </p> <a href="http://localhost:3000/shortURL/{{shortURL}}"> http://localhost:3000/shortURL/{{shortURL}}</a>
  </h5>
  <a tabindex="0" class="btn btn-lg btn-outline-dark" id="btn-copy" onclick="copyToClipBoard()" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
   data-bs-content="Copy ! " >Copy</a>
</div>


  <script>
    let copyURL = "http://localhost:3000/shortURL/{{shortURL}}";
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })
      var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
      })

  </script>


<h5> <p>原網址 : </p> <a href="{{fullURL}}"> {{fullURL}}</a></h5>


<script src="/javascript/index.js"></script>

